  <!-- Modal -->
  <div class="modal fade" id="healthFacility{{hos.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header d-flex flex-column">
                  <h6 class="modal-title" id="exampleModalLongTitle">{{hos.name}}</h6>
                  <h5 class="modal-title fw-light small">{{hos.email}}</h5>
                  <h5 class="modal-title fw-light small">{{hos.phone}}</h5>

                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <img src="{{hos.hospital_image.url}}" class="card-img-top modal-image" alt="..."
                      style="height: 24rem; width: 29rem;">

        
              </div>
              <div class="modal-footer d-flex flex-column alight-items-centre">
                <p class="fw-bold">{{hos.description}}</p>
                <p class="fw-bold"><i class="fas fa-map-marked-alt"></i></p>
                <p class="small fw-bold">{{hos.hood}}</p>
              </div>
            <div class="modal-footer">
                  
                <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">Close
            </div>
          </div>
      </div>
  </div>