{% load bootstrap5 %}
  <!-- Modal -->
  <div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Add a review</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="" method="post" novalidate>
                    {% csrf_token %}
  
                    <!-- {% bootstrap_form reviewForm%} -->
                    <button class="btn btn-sm btn-success">Review</button>
  
                </form>
                
                 
              </div>
              <div class="modal-footer">
                  
                  <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">Close
              </div>
          </div>
      </div>
  </div>