{%extends 'myhood/base.html'%}
{% load static %}
{% block content %}

<div class="container-fluid home">

<!-- Box -->
    <div class=" row top-view">
        {% if myhood.hood.sample_hood_image %}
        <div class="col-md-2 box hood-image " style="background-image: url( {{myhood.hood.sample_hood_image.url}}   );">

        </div>
        {%else%}
        <div class="col-md-2 box hood-image "
            style="background-image: url(https://lh3.googleusercontent.com/proxy/Q28LJ0XX9iEA8Z--bdCNlv8aA_JbT_noV4EMC1dnjwcqQDG4CNUup3t2b--XrLGlDn7zmirA80Nfg16o9f1X8c-a7cMOgYQIm73SeRizrJsn8RvXRrKydvjWjxFtr7rKuc-mtbbMUn65xg );">

        </div>

        {%endif%}
        {% if myhood.hood %}
        <div class="col-md-2 box hood-details">
            <h5 class="card-text mt-2">{{myhood.hood.name}} hood</h5>
            <p class="card-text fw-bold small"><i class="fas fa-map-marker-alt me-1"></i>{{myhood.hood.location}}</p>
            <p class="card-text small">{{myhood.hood.description}}</p>

        </div>
        {%else%}
        <div class="col-md-2 box hood-details">
            <h5 class="card-text mt-2">No Hood </h5>
            <p class="card-text fw-bold small"><i class="fas fa-map-marker-alt me-1"></i>Kindly update your hood</p>
            <p class="card-text small"></p>

        </div>
        {%endif%}

        <div class="col-md-2 box business-icon">
            <h1>{{business.count}}</h1>
            <a href="#hood-business"><img src="{% static 'images/business.png' %}" style="height: 70px;" alt=""></a>
            <p class="mt-2">Businesses in your hood</p>
        </div>

        <div class="col-md-2 box health-icon">
            <h1>{{hospitals.count}}</h1>
            <a href="#hood-hospitals"><img src="{% static 'images/hospital_red.png' %}" style="height: 70px;" alt=""></a>
            <p class="mt-2">Health facilities </p>

        </div>
        <div class="col-md-2 box post-icon">
            <h1>{{posts.count}}</h1>
            <a href="#hood-posts"><img src="{% static 'images/hoodPost.png' %}" style="height: 70px;" alt=""></a>
            <p class="mt-2">Posts in your hood</p>
        </div>

        <div class="col-md-2 box health-icon">
            {%if myhood.hood.police_contacts %}
            <h1>1</h1>
            {% else %}
            <h1>0</h1>
            {% endif %}

            <a href=""><img src="{% static 'images/police.png' %}" style="height: 70px;" alt=""></a>
            <p class="mt-2">Police contacts: {{myhood.hood.police_contacts}} </p>

        </div>


    </div>
    {% if request.user.profile.hood %}
    <div class="col-md-12 home-view">
        <div class="col-md-8 home-view-details">
            <h6 id="hood-posts">Hood Posts</h6>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary m-3" style="height: 40px; width: 130px;" data-bs-toggle="modal"
                data-bs-target="#postModal">
                Make a Post
            </button>
            {% include "modals/postModal.html" %}
            {% if posts %}
            <div id="homePosts" class="overflow:scroll" style="overflow-y: scroll; height: 290px;">

                {% for post in posts%}
                <div class="card post-card">
                    <div class="card-body">
                        <p class="card-text fw-bold">{{post.title}}</p>
                        <p class="card-text small">{{post.post}}</p>
                        <p class="card-text fw-light small">Posted {{post.date_posted|timesince}} ago by <a
                                href="{%url 'userProfile' post.posted_by %}">{{post.posted_by}}</a></p>


                    </div>
                </div>
                {% empty %}
                {%endfor%}


            </div>
            {% else %}
            <p>No available posts</p>

            {% endif %}



            <!-- BUSINESS -->
            <h6 class="mt-3" id="hood-business">Hood Businesses</h6>
            <button type="button" class="btn btn-primary m-3" data-bs-toggle="modal" data-bs-target="#registerBizModal">
                Register Business
            </button>

            {% include "modals/registerBizModal.html" %}
            <div class="col-md-12 home-business d-flex" id="homeBusiness">

                <div class="row">
                    {% for biz in business %}

                    <div class="card m-2" style="width: 24rem;">
                        <img src="{{biz.biz_image.url}}" class="card-img-top mt-2" height="200" alt="...">
                        <div class="card-body biz-card">
                            <p class="card-text ">{{biz.name}}</p>
                            <p class="card-text small">{{biz.description}}</p>
                            <p class="card-text">{{post.title}}</p>

                        </div>
                        <div class="card-footer d-flex justify-content-center">
                            <img src="{% static 'images/icon.jpg' %}" data-bs-toggle="modal"
                                data-bs-target="#businessDetails{{biz.id}}" height="90" alt="">

                            {% include "modals/businessDetails.html" %}
                        </div>

                    </div>

                    {% empty%}

                    <p>No registered businesses in your hood</p>

                    {%endfor%}



                </div>

            </div>
            <!-- HEALTH FACILITIES -->
            <h6 class="mt-3" id="hood-hospitals">Hood Health Facilities</h6>
            {% for admin in admin %}
                
                {% if admin.name == myhood.hood.name %}
                <button type="button" class="btn btn-primary m-3" data-bs-toggle="modal" data-bs-target="#registerHospital">
                    Register Health Facility
                </button>
                {% endif %}
            {% endfor %}
            <div class="col-md-12 d-flex" >
                <div class="row">
                {% for hos in hospitals %}

                        <div class="card m-2" style="width: 24rem;">
                            <img src="{{hos.hospital_image.url}}" class="card-img-top mt-2" height="200" alt="...">
                            <div class="card-body biz-card">
                                <p class="card-text ">{{hos.name}}</p>
                                <p class="card-text small">{{hos.description}}</p>
                                <!-- <p class="card-text">{{post.title}}</p> -->

                            </div>
                            <div class="card-footer d-flex justify-content-center">
                                <img src="{% static 'images/icon.jpg' %}" data-bs-toggle="modal"
                                    data-bs-target="#healthFacility{{hos.id}}" height="90" alt="">

                                {% include "modals/healthFacilityDetails.html" %}
                            </div>

                        </div>

                    {% empty %}

                    <p>No registered hospital in your hood</p>

                    {% endfor %}
                </div>

            </div>
            {% include "modals/registerHospital.html" %}


            </div>
            

        

        </div>
    </div>
    {% else %}
    <p>Update your Profile to see your hood details</p>
    <!-- <a href="{% url 'update-profile' request.user.id%}" class="btn btn-xs btn-info mb-4">
                Update Profile
            </a> -->
    <h6>Registered Neighborhoods</h6>
    <p class="small">If your hood appears below click to update your profile</p>
    <div class="d-flex">

        {% for hood in hoods %}

        <a href="{% url 'new-profile' request.user.id%}" class="btn btn-xs btn-info m-3">
            {{hood.name}}
        </a>


        {% endfor %}
    </div>

    <p class="small">If your hood is not registered. Register below</p>
    <div class="d-flex">


        <a href="" class="btn btn-xs btn-info m-3" data-bs-toggle="modal" data-bs-target="#registerHood">
            Register your hood
        </a>

        {% include "modals/registerHood.html" %}



    </div>
</div>

{% endif%}








</div>

{% endblock %}